{% extends "base.html" %}
{% from 'subords.html' import emp_and_subs with context %}
{% block content %}
<h1>Tree View</h1>
<h2> Here is our structure</h2>
<ul id="myUL">
  <li>
    <span  id="{{e.id}}" class="caret" onClick="nest_click(this.id)">
      {{e.full_name}} - {{e.position}}
    </span>
    <ul class="nested">
    {{emp_and_subs(e)}}
    </ul>
  </li>
</ul>

<script>
function nest_click(clicked_id){
  let clicked = '#' + clicked_id;
  var nest = $(clicked).parent().children('ul').first();

  $(nest).toggleClass("active");
  $(clicked).toggleClass("caret-down");
  if($(nest).hasClass("active")){
    $(nest).load("?emp_id="+clicked_id);
  }
}

</script>

{% endblock %}
