{% extends "base.html" %}
{% from 'subords.html' import emp_and_subs with context %}
{% block content %}
<ul id="myUL">
  <li><span  id="{{e.id}}" class="caret">{{e.full_name}} - {{e.position}}, with us from {{e.work_start}}, salary {{e.salary}} </span>
    <ul class="nested">
    {{emp_and_subs(e)}}
    </ul>
  </li>
</ul>

<script>
togg();

function togg(object='document'){
  $(object).ready(function() {
    $(object+",.caret").get(0).addEventListener("click", function(){
      $(this).parent().children('ul').first().toggleClass("active");
      $(this).toggleClass("caret-down");
    },false)
  });
}

function reply_click(clicked_id){
  var clicked = '#' + clicked_id;

  $(clicked).parent().children('ul').first().toggleClass("active");
  $(clicked).toggleClass("caret-down");
  $(clicked).parent().children('ul').first().load("?emp_id="+clicked_id);
}

</script>

{% endblock %}
