 <table>
  <tr class="header">
    <th style="width:5%;">id</th>
    <th style="width:16%;">Manager id</th>
    <th style="width:38%;">Name</th>
    <th style="width:33%;">Position</th>
    <th style="width:5%;">Employed</th>
    <th style="width:5%;">Salary</th>
  </tr>
 {% for employee in emps %}
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.manager_id}}</td>
      <td>{{employee.full_name}}</td>
      <td>{{employee.position}}</td>
      <td>{{employee.work_start}}</td>
      <td>{{employee.salary}}</td>
    </tr>
  {% endfor %}
</table>

 <div class="pagination">
  <a id="prev_page" href="#" onClick="show_page(this.id)">&laquo;</a>
  {% for page_No in range(page[0], page[1]) %}
    {% if page_No>0 %}
      <a id={{page_No}} href="#" onClick="show_page(this.id)">{{page_No}} </a>
    {% endif %}
  {% endfor %}
    <a id = next_page href="#"onClick="show_page(this.id)">&raquo;</a>
</div>
